/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: sans-serif;
}

.container {
  border: solid 6px #DDD;
  width: 768px;
}

header {
  background-color: rgb(39, 48, 63);
  color: #FFF;
  padding: 10px;
}

h1 {
	font-size: 2em;
	font-weight: lighter;
  text-align: center;
}

h1 .khan {
	font-weight: bold;
}

.message {
	background-color: rgb(240, 240, 240);
	padding: 50px 50px 35px 50px;
}

.message .name {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 8px;
}

.message p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 15px;
}

.message .cta {
	background-color: rgb(115, 164, 0);
	border-radius: 7px;
	color: #FFF;
	display: block;
	font-size: 1.2em;
	padding: 18px;
	text-align: center;
	text-decoration: none;
}
