/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: sans-serif;
}

.container {
  border: solid 6px #DDD;
  width: 768px;
}

/* ================================================= */
/* Close to earning */
/* ================================================= */

header {
  background-color: rgb(39, 48, 63);
  color: #FFF;
  padding: 10px;
}

h1 {
	font-size: 2em;
	font-weight: lighter;
  text-align: center;
}

h1 .khan {
	font-weight: bold;
}

.message {
	background-color: rgb(240, 240, 240);
	padding: 50px 50px 35px 50px;
}

.message .name {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 8px;
}

.message p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 15px;
}

.message .cta {
	background-color: rgb(115, 164, 0);
	border-radius: 7px;
	color: #FFF;
	display: block;
	font-size: 1.2em;
	padding: 18px;
	text-align: center;
	text-decoration: none;
}

/* ================================================= */
/* Stats */
/* ================================================= */


.stats {
	padding: 20px 0 0 0;
	text-align: center;
}

.week-stats {
	display: inline-block;
	width: 200px;
	text-transform: uppercase;
}

.week {
	font-weight: bold;
}

.week, .energy-points {
	color: #888;
}

.last-week .week {
	color: #000;
}

.stats-value {
	border-radius: 10px;
	color: #FFF;
	display: inline-block;
	font-size: 4em;
	margin: 30px 0 15px 0;
	padding: 10px 15px;
}

.stats-value .operator {
	font-size: 2rem;
	position: relative;
	bottom: 10px;
	right: 3px;
}

.two-weeks-ago .stats-value {
	background-color: rgb(133, 181, 200);
}

.last-week .stats-value {
	background-color: rgb(12, 109, 146);
}

/* ================================================= */
/* Close to earning */
/* ================================================= */

.close-to-earning {
	border-top: solid 1px #EEE;
	margin: 20px auto 0 auto;
	padding: 30px 0 0 0;
	width: 600px;
}

.close-to-earning h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

.badge {
	background-color: rgb(175, 44, 28);
	border: solid 15px rgb(236, 109, 75);
	border-radius: 100%;
	color: rgb(249, 227, 210);
	display: inline-block;
	font-weight: bold;
	height: 80px;
	font-size: 4.5em;
	line-height: 1.15em;
	width: 80px;
}

.badge-talk {
	display: inline-block;
	padding: 0 0 0 30px;
	text-align: left;
	width: 270px;
}

.badge-talk p {
	margin: 5px 0;
}

.badge-talk .second {
	font-style: italic;
	font-weight: bold;
}
