<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>day-29-object-practice</title>
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Object Practice</h1>

    <ul id="characters">

    </ul>


    <script type="text/html" id="dude-template">
      <li>
        <%= name %>
        <%= hp %>
      </li>
    </script>


    <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="script.js"></script>
    <script>ObjectPractice.start();</script>
  </body>

</html>
